/** !
* FileName      : variables
* Version       : v1.0.0
* Description   : css 变量
* Author        : 1200 1053182739@qq.com
* Created       : 2021-03-01 18:03
**/
/*门户菜单*/
$menuBg: #466284;
$navBg: #475c76;
$navBg2: #8094ac;
$navHoverBg: #384c65;
$navTitle: #fff;
$navTitleFont: 14px;
$navItem: #dde1e6;
$navItemFont: 12px;
$activeFont: #5292ff;
/*页面内元素*/
// 颜色
$pageBg: #edf2f8;
$title: #262626; //页面主标题
$mainText: #262626; //突出显示的文字
$contentText: #595959; //正文
$minorText: #595959; //次要文字
$disableText: #bfbfbf;
$border: #e9e9e9; //常规边框
$tableBorder: #efefef; //常规边框
$tableTh: #8c8c8c; //常规边框
$noteText: #8c8c8c; //注释文字
$green: #95d878;
$blue: #70a5ff;
$red: #f42530;
$yel: #ffa940;
$gray: #eaeaea;
// 字号
$f12: 12px;
$f14: 14px;
$f15: 15px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f24: 24px;
//输入框行高
$inputH: 30px;
//圆角
$mRadius: 4px;
$mBtnRadius: 2px;
